.greetings__text {
    margin: 0;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    color: black;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-indent: 25px;
    margin: 20px 20px 0 0;
}

@media (max-width:560px) {
    .greetings__text {
        font-size: 16px;
        margin: 10px 20px 0 0;
    }
}