@media (min-width:200px) {
    .header__menu-button-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 300px;
        height: min-content;
        margin: 0 auto 40px 20px;

    }
}

@media (min-width:560px) {
    .header__menu-button-container {
        display: none;
    }
}