.video__text-heaher {
    margin: 0;
    max-width: 1000px;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.15;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 40px auto 20px auto;
}

@media (max-width:500px) {
    .video__text-heaher {
        margin: 40px 10px 20px 10px;
    }
}