.contacts__container {
    max-width: 1026px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #DCDCDC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media (max-width:799px) {
    .contacts__container {
        flex-direction: column;

    }
}