.header__button-esse {
    min-width: 75px;
    padding: 10px 0 10px 0;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    border: none;
    outline: 1px black solid;
    transition: 0.2s;
}

.header__button-esse:hover {
    transform: scale(1.05);
    cursor: pointer;
}