.popup__container-image {
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 75vw;
    max-height: 75vh;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}