.header__menu-container {
    max-width: min-content;
    margin: 0 0 0px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;

}

@media (max-width:560px) {
    .header__menu-container {
        justify-content: center;
        min-width: 40px;
        display: none;
    }
}