.footer {
    max-width: 1022px;
    /*height: 80px;*/
    margin: 0 auto 0 auto;
    background-color: #DCDCDC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    border: #DCDCDC 1px solid;
}