.header__menu-item_min-width {
    min-width: 75px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.header__menu-item_min-width:hover {
    background-color: whitesmoke;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width:560px) {
    .header__menu-item_min-width {
        padding: 0;
        width: 150px;
        height: 40px;
        position: relative;
    }
}