.contacts__input {
    width: 320px;
    height: 30px;
    margin: 35px auto 20px auto;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: inter, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 1.15;
    color: black;
    font-style: normal;
    font-weight: 400;
}

@media (max-width:420px) {
    .contacts__input {
        width: 260px;
        margin: 20px auto 20px auto;
    }
}