.header__button {
    margin: 0;
    font-family: inter, "Helvetica Neue", "Arial", sans-serif;
    width: min-content;
    font-size: 16px;
    line-height: 1.15;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.5s;
    text-align: center;
    padding: 7.5px 7.5px 7.5px 7.5px;
}
